<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="./design/style.css">
    </head>
    <body>
        Welcome to login page
        <div class="login-form">
            <form action="" method="post">
                <div class="input-container">
                    <label>Email Address</label>
                    <input type="email" name="email" />
                </div>
                <div class="input-container">
                    <label>Password</label>
                    <input type="password" name="password" />
                </div>
                <div class="input-container">
                    <button type="submit"> Login </button>
                </div>
            </form>
        </div>
        
    </body>
</html>